<?xml version="1.0"?>

<configuration>

    <connectionStrings>
        <add name="EventAttendConnectionString" connectionString="Data Source=ausql;Initial Catalog=EventAttend;Persist Security Info=True;User ID=web_user;Password=w3b_us3r2010"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
        <customErrors mode="Off"/>
    </system.web>
  
    
</configuration>
