vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|17 Jan 2015 04:55:08 -0000
vti_extenderversion:SR|5.0.2.6790
vti_usagebymonth:UX|3 4 10 16 0 2 367 2
vti_usagebyweek:UX|1 2 4
vti_usagebyday:UX|0 0 1
vti_usagelastupdated:TX|13 Sep 2015 03:59:59 -0000
vti_usagetotalhits:IX|404
